div {
	barder : 2px solid red;
	display : block;	
}

.salutation {
	font-weight: bolder;
}

.user_name {
	color: purple;
}

.user {
	 font-style: italic;
}

table td, th {
    border: 2px solid yellow;
}

.head {
	color: #00FFFF; 
	text-align: center;	
}

tbody {
	color: green;
	vertical-align: center;
	text-align: center;
}

th {
	width: 25%;	
}