<html>

<head>
<title>Dap Admin</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" href="../static/css/dap.css">

</head>



<body>
	<!--  mv&am by Djer |Thymleaf| En (X)HTML cette balise s'écrit <br/> -->
	</br>
	    <span class= "salutation" >Bonjour, voici le tableau récapitulatif des données du crédential !</span>
	    <!--  mv&am by Djer |Thymleaf| plus utile dan cette vue -->
	    <span class= "user_name" th:text="${uName}">Mathieu</span>
	</br>
	</br>

<div class="table-responsive-lg">
	<table class="table table-dark tableau">
	  <thead>
	    <tr class= "table-info head">
	      <th scope="col">Name</th>
	      <th scope="col">Token</th>
	      <th scope="col">Refresh Token</th>
	      <th scope="col">Expiration</th>
	    </tr>
	  </thead>
	  <tbody>
	  <!--  mv&am by Djer |Thymleaf| "user" serait plsuclaire de "user" car c'est bien UN utilisateur (différent à chaque passage dans la boucle) -->
	    <tr class="table-success" th:each="users : ${allUsers}">
	      <td th:text="${users.key}"></td>
	      <td th:text="${users.value.accessToken}"></td>
	      <td th:text="${users.value.refreshToken}"></td>
	      <td th:text="${users.value.expirationTimeMilliseconds}"></td> 
	    </tr> 
	  </tbody>
	</table>
</div>



</body>
</html>