<html>

<head>
<title>Dap Admin</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" href="../static/css/dap.css">
</head>



<body>
    <span class= "salutation" >Salut !</span>
    <span class= "user_name" th:text="${uName}">Mathieu</span>

<ul class= "bete">
	<li th:each="bete : ${betes}" th:text="${bete}">Un animal</li>
	
</ul>
    
<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Type d'animal</th>
            <tr>
        </thead>
        <tbody>
            <tr th:each="bete : ${betes}">
                <td></td>
                <td th:text="${bete}">Un Animal</td>
            </tr>
        </tbody>
        </table>



</body>
</html>